name: release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # TODO update once https://github.com/cli/gh-extension-precompile/pull/3 is merged for darwin-arm64 support
      # In the meantime clone the repo and compile it manually with `go build`
      - uses: cli/gh-extension-precompile@v1